node_modules
*.log*
.cache
.output
.env
dist
.DS_Store

# Electron
electron-dist
debug.log
debug.log
*.log
debug.json
errors.json

/*.cpp
*.sqlite
build/config.gypi
/data

/*.old
bark.cpp
llama.log
/*.wav
/*.webm
/result.json

/binaries*
